/* Palette
page background-color: #141922
player background-color: #5a6e7f */


/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #141922;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}



/* Header */

header {
    height: 100px;
    width: 100%;
    padding-left: 210px;
    background-color: rgba(14, 14, 14, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#header-flex {
    display: flex;
    justify-content: flex-end;
    margin: 30px 25px 30px 0;

}


header a {
    color: white;
    border: 2px solid white;
    padding: 7px 40px;
    border-radius: 20px;
}

/* Sidebar */

#sidebar {
    height: 100vh;
    width: 210px;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 18px;
    z-index: 2;
    color: #888;
    line-height: 40%;
}

#sidebar img {
    width: 100%;
    margin-bottom: 30px;
}

#sidebar p {
    font-size: 16px;
    display: inline-block;
    margin: 15px 0;
}

#sidebar i {
    font-size: 25px;
    margin-right: 10px;
}

#sidebar h3 {
    font-size: 20px;
    margin: 25px 0 15px 0;
}

.fa-plus {
    background-color: #888;
    padding: 10px 12px;
    color:#141922
}

/* Main */

.container {
    padding: 0 0 45px 240px;
    width: 100%;
}

#overflow {
    overflow-y: scroll;
    height: 88vh;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 130px;
}

#nav-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color:#888;
    flex-wrap: wrap;
}

/* Recent played */

#recent {
    color: white;
    margin-bottom: 25px;
}

.flex-recent {
    display: flex;
    flex: wrap;
}

.playlist {
    padding: 10px;
    flex-basis: 20%;
}

.playlist h3 {
    color: white;
    text-align: center;
    margin: 20px 0 10px 0;
}

.playlist h4 {
    color: #5a6e7f;
    text-align: center;
    margin: 8px 0 15px 0;
}

.playlist img{
    height: 180px;
    width: 180px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
}

/* Player */

#player {
    background-color: #5a6e7f;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}

/* Xs */

@media screen and (max-width: 576px) {
    
    header {
        padding-left: 50px;
    }

    .container {
        padding-left: 80px;
    }
    
    #sidebar {
        width: 50px;
    }
    
    #sidebar img, #sidebar p, #sidebar h3 {
        display: none;
    }

    #sidebar-overflow {
        overflow-y: scroll;
        height: 100px;
        margin: 20px 0;
    }
}
