/* Palette
page background-color: #141922
player background-color: #5a6e7f */


/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #141922;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

h4 {
    color: #5a6e7f;
    margin-bottom: 15px; 
}

main {
    margin-left: 230px;
    width: calc( 100% - 230px);
}

hr {
    border: none;
    width: 90%;
    height: 3px;
    background-color: grey;
    margin: 20px 0;
}

img {
    width: 100%;
}

/* Header */

header {
    height: 90px;
    width: 100%;
    padding-left: 210px;
    background-color: rgba(14, 14, 14, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index:1;
    margin-left: 240px;
}

#header-flex {
    display: flex;
    justify-content: flex-end;
    margin: 30px 270px 30px 0;
}


header a {
    color: white;
    border: 2px solid white;
    padding: 7px 40px;
    border-radius: 20px;
}

/* Sidebar */

#sidebar {
    height: calc( 100% - 100px);
    width: 240px;
    margin-bottom: 100px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 18px 15px 0 15px;
    color: #888;
    line-height: 100%;
}

#sidebar a {
    display: block;
}

#sidebar img {
    width: 90%;
    margin-bottom: 15px;
}

#sidebar p {
    font-size: 14px;
    display: inline-block;
    margin: 10px 0;
}

#sidebar-overflow {
    overflow: auto;
    width: 220px;
    height: 150px;
}

#sidebar li {
    font-size: 14px;
    display: block;
    margin: 10px 0;
}

#sidebar i {
    font-size: 20px;
    margin-right: 10px;
}

#sidebar h3 {
    font-size: 20px;
    margin: 20px 0 15px 0;
}

li > a {
    color: grey;
}

.fa-plus {
    background-color: #888;
    padding: 10px 12px;
    color:#141922
}

#sidebar-hide {
    position: relative;
}

#download { 
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 39vh;
    left: 0;
    background-color: #000;
}

#link-download > a {
    color: #5a6e7f;
}

#profile .fa-user{
    color:white;
    padding: 5px 8px;
    background-color: #5a6e7f;
    border-radius: 50%;
}

#hr-download {
    height: 0.5px;
}

/* Main */
 
.container {
    margin-bottom: 35px;
}

#overflow {
    overflow-y: auto;
    height: calc(100vh - 100px);
    width: 100%;
    padding: 130px 0 20px 25px;
}

#nav-main {
    width: 85%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    color:#888;
    flex-wrap: wrap;
    text-align: center;
}

/* Recent played */

#recent {
    color: white;
    margin: 30px 0;
}

.flex-recent {
    display: flex;
    flex-wrap: wrap;
}

.playlist {
    flex-basis: 15%;
    margin-right: 10px;
}

.playlist h3 {
    color: white;
    text-align: center;
    margin: 20px 0 10px 0;
}

.playlist h4 {
    text-align: center;
    margin: 8px 0 15px 0;
}

figure {
    transition: 0.5s;
}

/* Created for you */

.flex-section {
    display: flex;
    flex-wrap: wrap;
}

#second-section {
    margin: 35px 0;
}

#section-title {
    color: white;
    margin: 25px 0;
}

.card {
    margin-right: 10px;
    flex-basis: 15%
}

.card img{
    transition: 0.5s;
}

.card h3{
    color: white;
    text-align: center;
}

/* Artist */

.artist img{
    border-radius: 50%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
}

/* Player */

#player {
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

/* left section footer*/

#current-listening {
    width: 22%;
    display: flex;
    align-items: center;
}

#current-img{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

#current-listening h4{
    color: white;
    margin-bottom: 0;
}

#current-listening span {
    font-size: 12px;
    margin-right: 6px;
    color: grey;
}

#favorite-dowload {
    color: grey;
}

#favorite-dowload i{
    margin-left: 5px;
    text-align: center;
}

/* Center section footer*/

#flex-footer {
    display: flex;
}

.row {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#upper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


#bottom {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

#song-lenght {
    width: 90%;
    border: none;
    height: 3px;
    background-color: grey;
    margin: 20px 20px;
}

#bottom h5 {
    color: white;
}

#upper  {
    font-size: 20px;
}

#upper #big-play {
    font-size: 35px;
}

.hr-container {
    width: 100%;
}

#current-second {
    position: absolute;
    left: 50px;
    top: 0;
    border: none;
    height: 3px;
    width: 15%;
    background-color: white;
}

/* Third section footer*/

#output {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#output i {
    color: white;
}

#output a {
    margin-right: 10px;
}


#max-volume {
    color: grey;
    width: 40%;
    border: none;
    height: 3px;
}

#current-volume {
    position: absolute;
    left: 83px;
    top: 0;
    border: none;
    height: 3px;
    width: 10%;
    background-color: white;
}


/* 992px */

@media screen and (max-width: 992px) {
    
    .playlist , .card {
        flex-basis: 23%;
    }
    
    #nav-main {
        width: 80%;
    }
    
    #nav-main a{
        margin: 20px 0;
    }
}


/* 768 */
@media screen and (max-width: 768px) {

    .playlist , .card {
        flex-basis: 45%;
    }
    
    .row {
        width: 50%;
    }
    
    #output {
        width: 20%;
    }
}
    
/* 576px */
    
@media screen and (max-width: 576px) {
        
    main {
        margin-left: 90px;
        width: calc( 100% - 90px);
    }

    header {
         margin-left: 80px;
    }

    #header-flex {
        margin: 20px 95px 0 12px
    }
        
    #sidebar {
        width: 80px;
    }

    #sidebar a > p , 
    #sidebar img, 
    #download, 
    #sidebar-hide{
        display: none;
    }

    #sidebar a {
        padding: 25px 15px;
    }
    
    #logo-576 {
        width: 45px;
        height: 45px;
        background-image: url(../img/logo-small.svg);
        margin-bottom: 45px;
    }

    #overflow {
        overflow-y: auto;
        height: calc(100vh - 100px);
        width: 100%;
        padding: 130px 0 20px 25px;
    }
}

/* Effects */

.playlist figure:hover ,
.card figure:hover {
    transform: translatey(-8px) scale(1.06);
}

.playlist img:hover, 
.card img:hover {
    filter: grayscale(0.9);
}

.playlist figure, 
.card figure {
    position: relative;
}

.playlist:hover  figure::after,
.card:hover  figure::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f144' ;
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


#sidebar a:active {
    border-left: 2px solid #4CAF50;
}

#nav-main a:active {
    border-bottom: 2px solid #4CAF50;
}

#player a:hover {
    text-shadow: #fff 1px 0 5px;
}

#sidebar a:hover ,
#nav-main a:hover,
#player a:hover{
    text-shadow: #fff 0.5px 0.5px 1.5px;
}

#header-flex:hover {
    text-shadow: #fff 1px 0 5px;
    transform: scale(1.02);
}

.hr-container:hover #current-volume {
    background-color: #4CAF50;
}

.hr-container:hover #current-second {
    background-color: #4CAF50;
}
